.confirmation-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 95%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  .deny {
    transform: rotate(45deg);
  }
}
.mobile-buttons {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 10px;
  .share-icon {
    position: absolute;
    height: 22px;
    top: 8px;
    right: 50px;
  }
  .add-task-to-project {
    position: absolute;
    right: 0px;
    transition: all .33s ease;
    &.add-task, &.edit-task {
      right: 40px;
      transform: rotate(45deg);
    }
  }
  .cross {
    position: relative;
    right: 0px;
    transition: all .33s ease;
    transform: rotate(0deg);
    &.create-project {
      right: 40px;
      transform: rotate(45deg);
    }
    &.share-project {
      right: 40px;
      transform: rotate(45deg);
    }
    &.sharing {
      right: 40px;
      transform: rotate(135deg);
    }
    &.edit-project {
      right: 85px;
      transform: rotate(45deg);
    }
  }
  .check {
    position: absolute;
    right: 0px;
    transition: all .33s ease;
    &.create {
      display: inherit;
    }
  }
}
.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.share-container {
  background-image: url('../../assets/images/trees.jpg');
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  .share-input {
    background: rgba(0, 0, 0, .75);
    border: 1px solid transparent;
    color: white;
    outline: none;
    padding: 10px 5px;
    border-radius: 3px;
    margin: 0px;
  }
  .share-message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
  }
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .25));
  .items-list {
    // background-image: url('../../assets/images/trees.jpg');
    border-radius: 3px;
    padding: 2px;
    position: absolute;
    height: calc(100% - 70px);
    overflow: auto;
    top: 50px;
    left: 50%;
    width: calc(100% - 20px);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    .item {
      overflow: hidden;
      min-height: 36px;
      position: relative;
      display: flex;
      color: white;
      margin: 2px 0px;
      align-items: center;
      border-radius: 3px;
      background: rgba(0, 0, 0, .35);
      .checkbox-container {
        height: 36px;
        width: 36px;
        margin-right: 0px;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        .custom-checkbox {
          border-radius: 3px;
          position: relative;
          top: 0;
          left: 0;
          height: 15px;
          width: 15px;
          background-color: rgba(0, 0, 0, 70%);
          border: 1px solid #262525;
        }
        .checkbox-input {
          opacity: 0;
          height: 0;
          width: 0;
          ~ .custom-checkbox:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: -1px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
          &.checked {
            ~ .custom-checkbox:after {
              display: block;
            }
          }
        }
      }
      .text-container {
        border-radius: 3px;
        height: 36px;
        display: flex;
        align-items: center;
        width: calc(100% - 40px);
        .item-title {
          margin-left: 6px;
          font-size: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &.checked {
            text-decoration: line-through;
            font-style: italic;
            color: gray;
          }
        }
      }
      .delete-task-button {
        transform: rotate(45deg);
        position: absolute;
        top: -2px;
        right: 0px;
        cursor: pointer;
      }
    }
  }
  .no-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50%;
    text-align: center;
  }
  .create-form {
    background-image: url('../../assets/images/trees.jpg');
    border-radius: 3px;
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    input {
      background: rgba(0, 0, 0, .75);
      border: 1px solid transparent;
      color: white;
      outline: none;
      padding: 10px 5px;
      border-radius: 3px;
      margin: 1px;
    }
  }
}
